<div class="resultados-2016">
  <div class="container">
    <div class="row"> 
    <div class="col-sm-12 text-center">
      <h1><%= @page.title%> </h1>
    </div>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive">
        <%= raw @page.content_for(:final_results) %>
      </div>
    </div>
  </div>
</div>