<% @events = Refinery::Events::Event.all %>
<div class="home-top-container">
  <div class="container">
    <div class="row head-home">
      <div class="col-md-6 copa-sur-logo"></div>
       <div class="col-md-6 head-calendar">
          <%= raw @page.content_for(:head_calendar) %>
        </div> 
    </div>
     <div class="container-events">
      <% @events.each do |event|%>
        <div class="content-event">
          <ul class="event">
            <li class="title"><%= event.title.upcase%></li>
            <li class="date">
              <%#= l(event.date, format: "%B %d").to_s.upcase %>
              <%= "#{get_month_to_es_by_num( event.date.month).upcase}  #{event.date.day}" %>
            </li>
          </ul>
        </div>
      <%end%>
    </div>
    <div class="row text-center">
      <%= raw@page.content_for(:calendar_notes) %>
    </div>
  </div>
</div>

<div class="home-resultados-2016">
  <div class="container">
    <div class="row">
    <a href="/resultados/2016">
      <h2 class="text-center">Resultados Copa Sur Jalisco MTB 2016</h2>
    </a>
    </div>    
  </div>
</div>

