/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 */

@import "refinery/formatting";
@import "refinery/theme";
@import "bootstrap";


.home-top-container{
  background-image: image-url('volcan-y-ciudad-guzman.jpg');
  background-size: 100% auto;
  min-height: 40vw;
}

.copa-sur-logo{
  background-image: image-url('copasur.png');
  background-size: 45% auto;
  background-position: center;
  background-repeat: no-repeat; 
  margin: 10px 0px;
  height: 250px;
}



.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.color-red{
  color: #f0252b;
}

a.color-white{
  color: white;
  &:hover{
    color: #f0252b;
    text-decoration: none;
    text-shadow: 2px 2px blue;
  }
}