/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 */

@import "refinery/formatting";
@import "refinery/theme";
@import "bootstrap";


.home-top-container{
  background-image: image-url('volcan-y-ciudad-guzman.jpg');
  background-size: cover;
  min-height: 40vw;
  background-repeat: no-repeat;
  background-color: #0384b0; 
  color: white;

}
.resultados-2017{
  background-image: image-url('cover-resultados.jpg');
  background-size: cover;
  min-height: 50vw;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ccc; 
  a, h1, h2, h3{
    color: white;
  }

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  .row{
    padding: 15px;
    background-color: transparentize( black, 0.45);
  }
}

.head-home{
  padding: 0px;
}
.copa-sur-logo{
  background-image: image-url('copasur.png');
  background-size: 60% auto;
  background-position: center;
  background-repeat: no-repeat; 
  height: 250px;
}
.head-calendar{
  margin-top: 70px;
  padding: 15px;
  background-color: transparentize( black, 0.75);
  h1, h2, h3{
    text-align: center;
  }
  @media (max-width: 767px ){
    margin-top: -15px;
  }
}

ul.event{
  padding: 15px 0px;
  li{ 
    list-style-type: none;
    text-align: center;
  }
  .title{ font-weight: 500;}
  .date{}
}


.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.color-red{
  color: #f0252b;
}

a.color-white{
  color: white;
  &:hover{
    color: #f0252b;
    text-decoration: none;
    text-shadow: 2px 2px blue;
  }
}

.container-events{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.content-event{
  padding: 5px;
  width: 200px;
  color: white;
  text-align: center;
}