.navbar{
margin-bottom: -1px;
}

footer{
  text-align: center;
  color: white;
  background-color: #404650;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}



.img-logo{
  max-height: 45px;
  margin-top: -12px;
}